{% extends "base2.html.twig" %}

{% block title %}Random Card{% endblock %}

{% block main %}
    <h1>Random Card</h1>
    <ul class="cardarea">
        {% for suit in randomCard %}
            {% for card in suit %}
                {% set codePoint = card|unicode_code_point %}
                {% if codePoint >= 127153 and codePoint <= 127183 %}
                    <li><span class="card-red">{{ card }}</span></li>
                {% else %}
                    <li><span class="card">{{ card }}</span></li>
                {% endif %}
                {# {{ dump(card) }} #}
            {% endfor %}
            {# {{ dump(suit) }} #}
        {% endfor %}
    </ul>
    {{ remainedCardsQuantity }}
{% endblock %}
