{% extends "base3.html.twig" %}

{% block title %}Random Card{% endblock %}

{% block main %}
    <h1>Random Card</h1>
    <h2>Player's turn</h2>
    <ul class="cardarea">
        {% for suit in randomCard %}
            {# {% set cards = suit|split('') %} #}
            {% for card in suit %}
                {% set codePoint = card|unicode_code_point %}
                {% if codePoint >= 127153 and codePoint <= 127183 %}
                    <li><span class="card-red">{{ card }}</span></li><br>
                {% else %}
                    <li><span class="card">{{ card }}</span></li><br>
                {% endif %}
                {# {{ dump(card) }} #}
            {% endfor %}
            {# {{ dump(cards) }} #}
        {% endfor %}
    </ul>

    {% if not disableDrawButton %}
    <form action="{{ path('game_card_draw') }}" method="post">
        <input type="submit" name="draw_card" value="Draw another Card">
    </form>
    {% endif %}

    <form action="{{ path('game_card_stop') }}" method="post">
        <input type="submit" name="stop" value="Stop">
    </form>

    {# {{ remainedCardsQuantity }} #}
    <p>{{ playerPoints }}</p>
    {# <p>{{ dump(playerPoints) }}</p> #}
    {{ include('flash.html.twig') }}
{% endblock %}
